#img-card {
    background-color: white;
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.1), 8px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#img-card:hover {
    background-color: white;
}


#img-card img {
    background-color: white;
    border-radius: 20px;
}

#img-card img:hover {
    background-color: white;
    border-radius: 20px;
}

#card1 #card-body {
    background-color: #FF5F2D;
    border-radius: 20px;
    height: 400px;
}


@media screen and (min-width: 200px) {
    #card1 #card-body {
        height: 400px;
    }
}

@media screen and (min-width: 600px) {
    #card1 #card-body {
        height: 400px;
    }
}

#card1:hover {
    background-color: #FF5F2D;
    border-radius: 20px;
}

#card2 #card-body {
    background-color: #FF36A2;
    border-radius: 20px;
    height: 400px;
}

@media screen and (min-width: 200px) {
    #card2 #card-body {
        height: 400px;
    }
}

@media screen and (min-width: 600px) {
    #card2 #card-body {
        height: 400px;
    }
}

#card2:hover {
    background-color: #FF36A2;
    border-radius: 20px;
}

#card3 #card-body {
    background-color: #3DB475;
    border-radius: 20px;
    height: 400px;
}

#card3:hover {
    background-color: #3DB475;
    border-radius: 20px;
}

@media screen and (min-width: 200px) {
    #card3 #card-body {
        height: 400px;
    }
}

@media screen and (min-width: 600px) {
    #card3 #card-body {
        height: 400px;
    }
}




@media screen and (min-width: 200px) {
    #card4 #card-body {
        height: 400px;
    }
}

@media screen and (min-width: 600px) {
    #card4 #card-body {
        height: 400px;
    }
}

#card4:hover {
    background-color: #2A1E84;
    border-radius: 20px;
}

#card4 #card-body {
    background-color: #2A1E84;
    border-radius: 20px;
    height: 400px;
}

#card5 #card-body {
    background-color: #07629D;
    border-radius: 20px;
    height: 400px;
}

#card5:hover {
    background-color: #07629D;
    border-radius: 20px;
}


@media screen and (min-width: 200px) {
    #card5 #card-body {
        height: 400px;
    }
}

@media screen and (min-width: 600px) {
    #card5 #card-body {
        height: 400px;
    }
}

.consultancyBannerContainer {
    background: url("../img/consultancyServices-img.svg");
    min-width: 100%;
    height: 60vh;
    position: relative;
}

.bannerContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.overlayContent-Container {
    background-color: white;
    position: absolute;
    width: 90%;
    margin: 0px 100px 0px 80px;
    top: 89.5%;
    height: 100px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.overlayContent-Options {
    display: flex;
    justify-content: space-between;
    background-color: #EFEFEF;
    margin: 30px;
    height: 40px;
}

.consultancy-subNavs:hover {
    color: black;
}


.consultancy-subNavs {
    width: 100%;
    border-radius: 5px;
}

.consultancy-subNavs.active-btn {
    font-weight: 600;
    color: white;
    background: linear-gradient(to left, #D94B62, #2A2742);
}

.tab-content {
    display: none;
    padding: 10px;
}

.tab-content.active {
    display: block;
}