.corporate-SubNavs:hover {
    color: black;
}


.corporate-SubNavs {
    width: 100%;
    border-radius: 5px;
}

.corporate-SubNavs.active-btn {
    font-weight: 600;
    color: white;
    background: linear-gradient(to left, #D94B62, #2A2742);
}