.footer-link {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 200px) {
    .marginTop {
        padding-top: 20px;
    }
}

@media screen and (min-width: 200px) and (max-width: 600px) {
    .marginX {
        margin-left: 20px;
    }
}

@media screen and (min-width: 600px) {
    .marginTop {
        padding-top: 160px;
    }
}

.schape2 {
    background: url("../img/footerBgImg.svg");
    overflow: hidden !important;
}

#social {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 40px;
}

#social span {
    color: #0E3C6E;
    font-size: 20px;
    font-weight: 600;
    margin-left: -15px;
}

#social hr {
    color: #0077B5;
    border-top: 5px solid;
    height: 18px;
    margin-top: -10px;
    width: 65%;
    margin-left: 47px;
    margin-bottom: 12px;
}

img.so {
    margin-top: 0rem;
    background: transparent;
    padding: 0px;
    height: 100px;
    width: auto;
    border-radius: 0px;
    margin-bottom: 1px;
}

.socialMediaImg {
    width: 35px;
}

.skyGoalLogo {
    width: 100px;
    object-fit: cover;
}